<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | StockPro</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/login.css">
  <script defer src="/js/forgetpass.js"></script>
</head>

<body>
  <div class="login-container">
    <div class="login-box">
      <h1>Welcome Back </h1>
      <p>Change Password to access your StockPro dashboard</p>

      <input type="text" id="username" placeholder="Username" autocomplete="off" />
      <input type="password" id="password" placeholder="Password" />
      <input type="password" id="confirmPassword" placeholder="Confirm Password" required />

      <button id="loginBtn" onclick="changepassword()">Change Password</button>
     
      <p id="msg"></p>
    </div>

  </div>
</body>

</html>