<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Inventory</title>
<link rel="stylesheet" href="css/Inventory.css">
</head>

<body>

<div class="pd_Header">
    <div class="pd_Htext">INVENTORY</div>
</div>

<!-- SEARCH AREA -->
<div class="search-container">

    <div class="search-box">

        <div class="search-group">
            <label>Item Name :</label>
            <input type="text" placeholder="Item Name" id="pd_item">
            <button onclick="Searchbyitem()">Search</button>
        </div>

    </div>

</div>

<!-- TABLE -->
<div class="Pd_main">
<div class="form-box">
<table class="pd_table">

<thead>
<tr>
<th>Id</th>
<th>Item</th>
<th>Brand</th>
<th>Qty</th>
<th>Unit Price</th>
<th>Description</th>
<th>Action</th>
</tr>
</thead>

<tbody id="purchasedata">



</tbody>

</table>

</div>
</div>

<script src="js/Inventory.js"></script>

</body>
</html>