<!DOCTYPE html>
<html>
<head>
  <title>Stock List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <main class="dashboard">
    <div class="welcome">
      <h1>Welcome to Inventory DataBase</h1>
      <p id="statusText">Please login to access your system features.</p>
    </div>

    <div class="cards">
      <div class="card">
        <h3>Purchase Data</h3>
        <p>Explore Purchase Records and update them.</p>
        <button id="purchaseBtn">Go to Purchase Data</button>
      </div>

      <div class="card">
        <h3>Sales Entry</h3>
        <p>Log new sales orders and manage outgoing stock.</p>
        <button id="salesBtn">Sales Data</button>
      </div>

      <div class="card">
        <h3>Stock</h3>
        <p>Check your stock levels, reorder alerts, and product insights.</p>
        <button id="stockBtn" >View Stock</button>
      </div>
    </div>
  </main>

  <footer>
    <p>© 2025 StockPro Systems — Designed with ❤️ by Abhishek</p>
  </footer>
  <script src="js/stock.js"></script>
</body>
</html>
